{% extends 'base.html' %}

    {% block content %}
        <h1 class="mt-4">Sign Up</h1>
        <p>If you already have an account, <a href="{% url 'delivery:login_page' %}">Log in</a></p>
        <p><a href='/'>Back</a></p>
        <div class="col-4">
            <form id="add_form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button form='add_form' type="submit" class="btn-primary">Register</button>

            </form>
        </div>
    {% endblock %}
